[submodule "software/matrix-appservice-discord"]
	path = software/matrix-appservice-discord
	url = https://github.com/proglangdesign/matrix-appservice-discord
[submodule "software/matrix-appservice-irc"]
	path = software/matrix-appservice-irc
	url = https://github.com/Half-Shot/matrix-appservice-irc.git
